In [1]:
# Dependencies
import requests
import json
import quandl #https://docs.quandl.com/docs/python-time-series give a how to guide
from config import q_api_key
from config import y_api_key
from config import c_api_key

import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
c = Census(c_api_key, year=2017)

import gmaps
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

from uszipcode import SearchEngine, SimpleZipcode, Zipcode #https://uszipcode.readthedocs.io/index.html
#create a variable for the searchengine function which pulls down all lat/longs in database for crime/airbnb data (lat/long to zip)
search = SearchEngine()

In [2]:
#use this call to set the api_key for zillow data
quandl.ApiConfig.api_key = q_api_key

In [3]:
#pull in zipcode list
zipcode_df=pd.read_csv("Resources/zipcode.csv")
zipcode_df['Zipcode'] = pd.to_numeric(zipcode_df['Zipcode'])
zipcode_df.head()

   Zipcode
0    60601
1    60602
2    60603
3    60604
4    60605

In [4]:
#turn zipcode into a list
zipcodes = zipcode_df['Zipcode'].tolist()

#ZILLOW DATA
#create a blank list for median home values and median rent from Zillow
medianrent=[]
medianhomevalues=[]
#pull median home value for each zip code in Chicago at the yearly level for 2018 only
for x in range(0,len(zipcodes)):
    try:
        mr_raw=quandl.get(f"ZILLOW/Z{zipcodes[x]}_ZRIAH", collapse="annual", start_date="2018-12-31", end_date="2018-12-31")
        mr_list=mr_raw["Value"].tolist()
        medianrent.append(mr_list[0])
        print(f'Pulled rent data for {zipcodes[x]}')
    except:
        mr_missing='NaN'
        medianrent.append(mr_missing)
        print(f'Rent data for {zipcodes[x]} not found')
    try:
        mhv_raw=quandl.get(f"ZILLOW/Z{zipcodes[x]}_ZHVIAH", collapse="annual", start_date="2018-12-31", end_date="2018-12-31")
        mhv_list=mhv_raw["Value"].tolist()
        medianhomevalues.append(mhv_list[0])
        print(f'Pulled home value data for {zipcodes[x]}')
    except:
        mhv_missing='NaN'
        medianhomevalues.append(mhv_missing)
        print(f'Home value data for {zipcodes[x]} not found')
print(medianrent)
print(medianhomevalues)

Pulled rent data for 60601
Pulled home value data for 60601
Pulled rent data for 60602
Home value data for 60602 not found
Pulled rent data for 60603
Home value data for 60603 not found
Pulled rent data for 60604
Home value data for 60604 not found
Pulled rent data for 60605
Pulled home value data for 60605
Pulled rent data for 60606
Pulled home value data for 60606
Pulled rent data for 60607
Pulled home value data for 60607
Pulled rent data for 60608
Pulled home value data for 60608
Pulled rent data for 60609
Pulled home value data for 60609
Pulled rent data for 60610
Pulled home value data for 60610
Pulled rent data for 60611
Pulled home value data for 60611
Pulled rent data for 60612
Pulled home value data for 60612
Pulled rent data for 60613
Pulled home value data for 60613
Pulled rent data for 60614
Pulled home value data for 60614
Pulled rent data for 60615
Pulled home value data for 60615
Pulled rent data for 60616
Pulled home value data for 60616
Pulled rent data for 60617
Home value data for 60617 not found
Pulled rent data for 60618
Pulled home value data for 60618
Pulled rent data for 60619
Pulled home value data for 60619
Pulled rent data for 60620
Pulled home value data for 60620
Pulled rent data for 60621
Home value data for 60621 not found
Pulled rent data for 60622
Pulled home value data for 60622
Pulled rent data for 60623
Home value data for 60623 not found
Pulled rent data for 60624
Pulled home value data for 60624
Pulled rent data for 60625
Pulled home value data for 60625
Pulled rent data for 60626
Pulled home value data for 60626
Pulled rent data for 60628
Home value data for 60628 not found
Pulled rent data for 60629
Pulled home value data for 60629
Pulled rent data for 60630
Pulled home value data for 60630
Pulled rent data for 60631
Pulled home value data for 60631
Pulled rent data for 60632
Pulled home value data for 60632
Pulled rent data for 60633
Pulled home value data for 60633
Pulled rent data for 60634
Pulled home value data for 60634
Pulled rent data for 60636
Home value data for 60636 not found
Pulled rent data for 60637
Pulled home value data for 60637
Pulled rent data for 60638
Pulled home value data for 60638
Pulled rent data for 60639
Pulled home value data for 60639
Pulled rent data for 60640
Pulled home value data for 60640
Pulled rent data for 60641
Pulled home value data for 60641
Pulled rent data for 60642
Pulled home value data for 60642
Pulled rent data for 60643
Pulled home value data for 60643
Pulled rent data for 60644
Pulled home value data for 60644
Pulled rent data for 60645
Pulled home value data for 60645
Pulled rent data for 60646
Pulled home value data for 60646
Pulled rent data for 60647
Pulled home value data for 60647
Pulled rent data for 60649
Home value data for 60649 not found
Pulled rent data for 60651
Pulled home value data for 60651
Pulled rent data for 60652
Pulled home value data for 60652
Pulled rent data for 60653
Pulled home value data for 60653
Pulled rent data for 60654
Pulled home value data for 60654
Pulled rent data for 60655
Pulled home value data for 60655
Pulled rent data for 60656
Pulled home value data for 60656
Pulled rent data for 60657
Pulled home value data for 60657
Pulled rent data for 60659
Pulled home value data for 60659
Pulled rent data for 60660
Pulled home value data for 60660
Pulled rent data for 60661
Pulled home value data for 60661
Pulled rent data for 60706
Pulled home value data for 60706
Pulled rent data for 60707
Pulled home value data for 60707
Pulled rent data for 60803
Pulled home value data for 60803
Pulled rent data for 60804
Pulled home value data for 60804
Pulled rent data for 60805
Pulled home value data for 60805
[1944.0, 1666.0, 1630.0, 1835.0, 1865.0, 1910.0, 1937.0, 1698.0, 1455.0, 1874.0, 1928.0, 1713.0, 1640.0, 2193.0, 1576.0, 1741.0, 1395.0, 1977.0, 1429.0, 1424.0, 1348.0, 2221.0, 1441.0, 1470.0, 1841.0, 1495.0, 1391.0, 1488.0, 1946.0, 2045.0, 1528.0, 1395.0, 1858.0, 1349.0, 1443.0, 1634.0, 1719.0, 1642.0, 1880.0, 2209.0, 1478.0, 1507.0, 1620.0, 2250.0, 1955.0, 1372.0, 1536.0, 1520.0, 1666.0, 1867.0, 1755.0, 1890.0, 1990.0, 1860.0, 1567.0, 1855.0, 1898.0, 1839.0, 1560.0, 1481.0, 1566.0]
[391000.0, 'NaN', 'NaN', 'NaN', 284200.0, 407000.0, 355900.0, 258700.0, 165800.0, 296900.0, 351800.0, 260700.0, 229300.0, 432000.0, 192100.0, 276400.0, 'NaN', 392700.0, 129900.0, 125600.0, 'NaN', 446800.0, 'NaN', 127100.0, 295300.0, 177000.0, 'NaN', 170000.0, 298300.0, 332800.0, 176900.0, 110600.0, 267600.0, 'NaN', 133600.0, 215200.0, 232300.0, 237200.0, 278700.0, 453300.0, 148700.0, 131200.0, 215600.0, 385800.0, 393900.0, 'NaN', 163700.0, 172600.0, 231400.0, 341400.0, 238900.0, 284600.0, 352800.0, 277100.0, 203700.0, 322900.0, 279300.0, 249400.0, 163800.0, 177300.0, 182700.0]

In [5]:
#create a dataframe of zipcode, median rent, and median home values
housing_df = pd.DataFrame({"Zipcode":zipcodes, "Median Rent":medianrent, "Median Home Value":medianhomevalues})
housing_df.head()

   Zipcode  Median Rent Median Home Value
0    60601       1944.0            391000
1    60602       1666.0               NaN
2    60603       1630.0               NaN
3    60604       1835.0               NaN
4    60605       1865.0            284200

In [6]:
# Extract zipcode and median rent data from the housing data

rent_df = housing_df[["Zipcode", "Median Rent"]]
rent_df.head()

   Zipcode  Median Rent
0    60601       1944.0
1    60602       1666.0
2    60603       1630.0
3    60604       1835.0
4    60605       1865.0

In [7]:
#YELP DATA
#found in https://python.gotrained.com/yelp-fusion-api-tutorial/
headers = {'Authorization': 'Bearer %s' % y_api_key}

#category of business you want to pull 1. nightlife
categories = 'nightlife' 
#base url
url='https://api.yelp.com/v3/businesses/search'
#create a list for the number of returned categories in zipcode
category_l = []
#for every zipcode in the list return all businesses for the category searched and get rid of entries not within the zip and add to a total list
for zipcode in zipcodes:
    print(f'starting datapull for {zipcode}')
    #create a list for all the pages returned
    yelp_data = []
    #the max returned businesses is 1000 and you can have 50 on a page so create a for loop to iterate through until get 400 code
    #https://stackoverflow.com/questions/35525994/how-to-request-more-than-20-results-from-yelp-api
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': zipcode,
            'categories': categories,
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            #combine page with previous pages
            yelp_data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break
    print(f'finished datapull for {zipcode}')
    #create a blank zipcode list in preparation of pulling in zipcodes for each entry collected in the above yelp_data
    zipcode_b =[]
    #for each business in the yelp_data json, find the zip code and then append it to the zipcode_b list
    for business in range(0,len(yelp_data)):
        currentzip =str(yelp_data[business]["location"]["zip_code"])
        if currentzip == str(zipcode):
            zipcode_b.append(currentzip)
            #print(currentzip)
       # else:
        #    print(f'Not correct zip :{currentzip} != {zipcode}')
    #add to the category list with total number of categories from current zipcode you are looking at
    numberinzip=len(zipcode_b)
    category_l.append(numberinzip)
    print(f'new appended category total: {numberinzip}  for {zipcode}')

starting datapull for 60601
finished datapull for 60601
new appended category total: 48  for 60601
starting datapull for 60602
finished datapull for 60602
new appended category total: 11  for 60602
starting datapull for 60603
finished datapull for 60603
new appended category total: 22  for 60603
starting datapull for 60604
finished datapull for 60604
new appended category total: 5  for 60604
starting datapull for 60605
finished datapull for 60605
new appended category total: 34  for 60605
starting datapull for 60606
finished datapull for 60606
new appended category total: 22  for 60606
starting datapull for 60607
finished datapull for 60607
new appended category total: 81  for 60607
starting datapull for 60608
finished datapull for 60608
new appended category total: 34  for 60608
starting datapull for 60609
finished datapull for 60609
new appended category total: 10  for 60609
starting datapull for 60610
finished datapull for 60610
new appended category total: 71  for 60610
starting datapull for 60611
finished datapull for 60611
new appended category total: 96  for 60611
starting datapull for 60612
finished datapull for 60612
new appended category total: 12  for 60612
starting datapull for 60613
finished datapull for 60613
new appended category total: 77  for 60613
starting datapull for 60614
finished datapull for 60614
new appended category total: 113  for 60614
starting datapull for 60615
finished datapull for 60615
new appended category total: 12  for 60615
starting datapull for 60616
finished datapull for 60616
new appended category total: 39  for 60616
starting datapull for 60617
finished datapull for 60617
new appended category total: 10  for 60617
starting datapull for 60618
finished datapull for 60618
new appended category total: 87  for 60618
starting datapull for 60619
finished datapull for 60619
new appended category total: 12  for 60619
starting datapull for 60620
finished datapull for 60620
new appended category total: 8  for 60620
starting datapull for 60621
finished datapull for 60621
new appended category total: 2  for 60621
starting datapull for 60622
finished datapull for 60622
new appended category total: 108  for 60622
starting datapull for 60623
finished datapull for 60623
new appended category total: 6  for 60623
starting datapull for 60624
finished datapull for 60624
new appended category total: 1  for 60624
starting datapull for 60625
finished datapull for 60625
new appended category total: 46  for 60625
starting datapull for 60626
finished datapull for 60626
new appended category total: 22  for 60626
starting datapull for 60628
finished datapull for 60628
new appended category total: 4  for 60628
starting datapull for 60629
finished datapull for 60629
new appended category total: 9  for 60629
starting datapull for 60630
finished datapull for 60630
new appended category total: 32  for 60630
starting datapull for 60631
finished datapull for 60631
new appended category total: 15  for 60631
starting datapull for 60632
finished datapull for 60632
new appended category total: 16  for 60632
starting datapull for 60633
finished datapull for 60633
new appended category total: 8  for 60633
starting datapull for 60634
finished datapull for 60634
new appended category total: 32  for 60634
starting datapull for 60636
finished datapull for 60636
new appended category total: 1  for 60636
starting datapull for 60637
finished datapull for 60637
new appended category total: 6  for 60637
starting datapull for 60638
finished datapull for 60638
new appended category total: 31  for 60638
starting datapull for 60639
finished datapull for 60639
new appended category total: 15  for 60639
starting datapull for 60640
finished datapull for 60640
new appended category total: 51  for 60640
starting datapull for 60641
finished datapull for 60641
new appended category total: 33  for 60641
starting datapull for 60642
finished datapull for 60642
new appended category total: 31  for 60642
starting datapull for 60643
finished datapull for 60643
new appended category total: 14  for 60643
starting datapull for 60644
finished datapull for 60644
new appended category total: 3  for 60644
starting datapull for 60645
finished datapull for 60645
new appended category total: 7  for 60645
starting datapull for 60646
finished datapull for 60646
new appended category total: 11  for 60646
starting datapull for 60647
finished datapull for 60647
new appended category total: 117  for 60647
starting datapull for 60649
finished datapull for 60649
new appended category total: 2  for 60649
starting datapull for 60651
finished datapull for 60651
new appended category total: 3  for 60651
starting datapull for 60652
finished datapull for 60652
new appended category total: 3  for 60652
starting datapull for 60653
finished datapull for 60653
new appended category total: 4  for 60653
starting datapull for 60654
finished datapull for 60654
new appended category total: 126  for 60654
starting datapull for 60655
finished datapull for 60655
new appended category total: 10  for 60655
starting datapull for 60656
finished datapull for 60656
new appended category total: 6  for 60656
starting datapull for 60657
finished datapull for 60657
new appended category total: 137  for 60657
starting datapull for 60659
finished datapull for 60659
new appended category total: 15  for 60659
starting datapull for 60660
finished datapull for 60660
new appended category total: 21  for 60660
starting datapull for 60661
finished datapull for 60661
new appended category total: 24  for 60661
starting datapull for 60706
finished datapull for 60706
new appended category total: 14  for 60706
starting datapull for 60707
finished datapull for 60707
new appended category total: 22  for 60707
starting datapull for 60803
finished datapull for 60803
new appended category total: 6  for 60803
starting datapull for 60804
finished datapull for 60804
new appended category total: 11  for 60804
starting datapull for 60805
finished datapull for 60805
new appended category total: 6  for 60805

In [8]:
#category of business you want to pull 2. restaurants
categories = 'restaurants' 
#base url
url='https://api.yelp.com/v3/businesses/search'
#create a list for the number of returned categories in zipcode
category_r = []
#for every zipcode in the list return all businesses for the category searched and get rid of entries not within the zip and add to a total list
for zipcode in zipcodes:
    print(f'starting datapull for {zipcode}')
    #create a list for all the pages returned
    yelp_data = []
    #the max returned businesses is 1000 and you can have 50 on a page so create a for loop to iterate through until get 400 code
    #https://stackoverflow.com/questions/35525994/how-to-request-more-than-20-results-from-yelp-api
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': zipcode,
            'categories': categories,
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            #combine page with previous pages
            yelp_data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break
    print(f'finished datapull for {zipcode}')
    #create a blank zipcode list in preparation of pulling in zipcodes for each entry collected in the above yelp_data
    zipcode_b =[]
    #for each business in the yelp_data json, find the zip code and then append it to the zipcode_b list
    for business in range(0,len(yelp_data)):
        currentzip =str(yelp_data[business]["location"]["zip_code"])
        if currentzip == str(zipcode):
            zipcode_b.append(currentzip)
            #print(currentzip)
       # else:
        #    print(f'Not correct zip :{currentzip} != {zipcode}')
    #add to the category list with total number of categories from current zipcode you are looking at
    numberinzip=len(zipcode_b)
    category_r.append(numberinzip)
    print(f'new appended category total: {numberinzip}  for {zipcode}')

starting datapull for 60601
finished datapull for 60601
new appended category total: 150  for 60601
starting datapull for 60602
finished datapull for 60602
new appended category total: 78  for 60602
starting datapull for 60603
finished datapull for 60603
new appended category total: 96  for 60603
starting datapull for 60604
finished datapull for 60604
new appended category total: 41  for 60604
starting datapull for 60605
finished datapull for 60605
new appended category total: 112  for 60605
starting datapull for 60606
finished datapull for 60606
new appended category total: 163  for 60606
starting datapull for 60607
finished datapull for 60607
new appended category total: 221  for 60607
starting datapull for 60608
finished datapull for 60608
new appended category total: 151  for 60608
starting datapull for 60609
finished datapull for 60609
new appended category total: 90  for 60609
starting datapull for 60610
finished datapull for 60610
new appended category total: 131  for 60610
starting datapull for 60611
finished datapull for 60611
new appended category total: 308  for 60611
starting datapull for 60612
finished datapull for 60612
new appended category total: 77  for 60612
starting datapull for 60613
finished datapull for 60613
new appended category total: 148  for 60613
starting datapull for 60614
finished datapull for 60614
new appended category total: 191  for 60614
starting datapull for 60615
finished datapull for 60615
new appended category total: 75  for 60615
starting datapull for 60616
finished datapull for 60616
new appended category total: 159  for 60616
starting datapull for 60617
finished datapull for 60617
new appended category total: 102  for 60617
starting datapull for 60618
finished datapull for 60618
new appended category total: 233  for 60618
starting datapull for 60619
finished datapull for 60619
new appended category total: 91  for 60619
starting datapull for 60620
finished datapull for 60620
new appended category total: 79  for 60620
starting datapull for 60621
finished datapull for 60621
new appended category total: 25  for 60621
starting datapull for 60622
finished datapull for 60622
new appended category total: 232  for 60622
starting datapull for 60623
finished datapull for 60623
new appended category total: 93  for 60623
starting datapull for 60624
finished datapull for 60624
new appended category total: 24  for 60624
starting datapull for 60625
finished datapull for 60625
new appended category total: 159  for 60625
starting datapull for 60626
finished datapull for 60626
new appended category total: 90  for 60626
starting datapull for 60628
finished datapull for 60628
new appended category total: 63  for 60628
starting datapull for 60629
finished datapull for 60629
new appended category total: 115  for 60629
starting datapull for 60630
finished datapull for 60630
new appended category total: 86  for 60630
starting datapull for 60631
finished datapull for 60631
new appended category total: 46  for 60631
starting datapull for 60632
finished datapull for 60632
new appended category total: 157  for 60632
starting datapull for 60633
finished datapull for 60633
new appended category total: 13  for 60633
starting datapull for 60634
finished datapull for 60634
new appended category total: 130  for 60634
starting datapull for 60636
finished datapull for 60636
new appended category total: 37  for 60636
starting datapull for 60637
finished datapull for 60637
new appended category total: 52  for 60637
starting datapull for 60638
finished datapull for 60638
new appended category total: 104  for 60638
starting datapull for 60639
finished datapull for 60639
new appended category total: 163  for 60639
starting datapull for 60640
finished datapull for 60640
new appended category total: 189  for 60640
starting datapull for 60641
finished datapull for 60641
new appended category total: 112  for 60641
starting datapull for 60642
finished datapull for 60642
new appended category total: 85  for 60642
starting datapull for 60643
finished datapull for 60643
new appended category total: 65  for 60643
starting datapull for 60644
finished datapull for 60644
new appended category total: 38  for 60644
starting datapull for 60645
finished datapull for 60645
new appended category total: 48  for 60645
starting datapull for 60646
finished datapull for 60646
new appended category total: 43  for 60646
starting datapull for 60647
finished datapull for 60647
new appended category total: 215  for 60647
starting datapull for 60649
finished datapull for 60649
new appended category total: 52  for 60649
starting datapull for 60651
finished datapull for 60651
new appended category total: 49  for 60651
starting datapull for 60652
finished datapull for 60652
new appended category total: 53  for 60652
starting datapull for 60653
finished datapull for 60653
new appended category total: 41  for 60653
starting datapull for 60654
finished datapull for 60654
new appended category total: 228  for 60654
starting datapull for 60655
finished datapull for 60655
new appended category total: 27  for 60655
starting datapull for 60656
finished datapull for 60656
new appended category total: 29  for 60656
starting datapull for 60657
finished datapull for 60657
new appended category total: 281  for 60657
starting datapull for 60659
finished datapull for 60659
new appended category total: 130  for 60659
starting datapull for 60660
finished datapull for 60660
new appended category total: 90  for 60660
starting datapull for 60661
finished datapull for 60661
new appended category total: 124  for 60661
starting datapull for 60706
finished datapull for 60706
new appended category total: 65  for 60706
starting datapull for 60707
finished datapull for 60707
new appended category total: 67  for 60707
starting datapull for 60803
finished datapull for 60803
new appended category total: 44  for 60803
starting datapull for 60804
finished datapull for 60804
new appended category total: 53  for 60804
starting datapull for 60805
finished datapull for 60805
new appended category total: 37  for 60805

In [9]:
#category of business you want to pull 3. grocery
categories = 'grocery' 
#base url
url='https://api.yelp.com/v3/businesses/search'
#create a list for the number of returned categories in zipcode
category_g = []
#for every zipcode in the list return all businesses for the category searched and get rid of entries not within the zip and add to a total list
for zipcode in zipcodes:
    print(f'starting datapull for {zipcode}')
    #create a list for all the pages returned
    yelp_data = []
    #the max returned businesses is 1000 and you can have 50 on a page so create a for loop to iterate through until get 400 code
    #https://stackoverflow.com/questions/35525994/how-to-request-more-than-20-results-from-yelp-api
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': zipcode,
            'categories': categories,
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            #combine page with previous pages
            yelp_data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break
    print(f'finished datapull for {zipcode}')
    #create a blank zipcode list in preparation of pulling in zipcodes for each entry collected in the above yelp_data
    zipcode_b =[]
    #for each business in the yelp_data json, find the zip code and then append it to the zipcode_b list
    for business in range(0,len(yelp_data)):
        currentzip =str(yelp_data[business]["location"]["zip_code"])
        if currentzip == str(zipcode):
            zipcode_b.append(currentzip)
            #print(currentzip)
       # else:
        #    print(f'Not correct zip :{currentzip} != {zipcode}')
    #add to the category list with total number of categories from current zipcode you are looking at
    numberinzip=len(zipcode_b)
    category_g.append(numberinzip)
    print(f'new appended category total: {numberinzip}  for {zipcode}')

starting datapull for 60601
finished datapull for 60601
new appended category total: 7  for 60601
starting datapull for 60602
finished datapull for 60602
new appended category total: 0  for 60602
starting datapull for 60603
finished datapull for 60603
new appended category total: 1  for 60603
starting datapull for 60604
finished datapull for 60604
new appended category total: 0  for 60604
starting datapull for 60605
finished datapull for 60605
new appended category total: 7  for 60605
starting datapull for 60606
finished datapull for 60606
new appended category total: 3  for 60606
starting datapull for 60607
finished datapull for 60607
new appended category total: 6  for 60607
starting datapull for 60608
finished datapull for 60608
new appended category total: 22  for 60608
starting datapull for 60609
finished datapull for 60609
new appended category total: 8  for 60609
starting datapull for 60610
finished datapull for 60610
new appended category total: 11  for 60610
starting datapull for 60611
finished datapull for 60611
new appended category total: 7  for 60611
starting datapull for 60612
finished datapull for 60612
new appended category total: 8  for 60612
starting datapull for 60613
finished datapull for 60613
new appended category total: 13  for 60613
starting datapull for 60614
finished datapull for 60614
new appended category total: 13  for 60614
starting datapull for 60615
finished datapull for 60615
new appended category total: 7  for 60615
starting datapull for 60616
finished datapull for 60616
new appended category total: 25  for 60616
starting datapull for 60617
finished datapull for 60617
new appended category total: 11  for 60617
starting datapull for 60618
finished datapull for 60618
new appended category total: 19  for 60618
starting datapull for 60619
finished datapull for 60619
new appended category total: 6  for 60619
starting datapull for 60620
finished datapull for 60620
new appended category total: 10  for 60620
starting datapull for 60621
finished datapull for 60621
new appended category total: 3  for 60621
starting datapull for 60622
finished datapull for 60622
new appended category total: 16  for 60622
starting datapull for 60623
finished datapull for 60623
new appended category total: 12  for 60623
starting datapull for 60624
finished datapull for 60624
new appended category total: 4  for 60624
starting datapull for 60625
finished datapull for 60625
new appended category total: 17  for 60625
starting datapull for 60626
finished datapull for 60626
new appended category total: 15  for 60626
starting datapull for 60628
finished datapull for 60628
new appended category total: 4  for 60628
starting datapull for 60629
finished datapull for 60629
new appended category total: 13  for 60629
starting datapull for 60630
finished datapull for 60630
new appended category total: 11  for 60630
starting datapull for 60631
finished datapull for 60631
new appended category total: 2  for 60631
starting datapull for 60632
finished datapull for 60632
new appended category total: 20  for 60632
starting datapull for 60633
finished datapull for 60633
new appended category total: 2  for 60633
starting datapull for 60634
finished datapull for 60634
new appended category total: 10  for 60634
starting datapull for 60636
finished datapull for 60636
new appended category total: 4  for 60636
starting datapull for 60637
finished datapull for 60637
new appended category total: 4  for 60637
starting datapull for 60638
finished datapull for 60638
new appended category total: 7  for 60638
starting datapull for 60639
finished datapull for 60639
new appended category total: 24  for 60639
starting datapull for 60640
finished datapull for 60640
new appended category total: 24  for 60640
starting datapull for 60641
finished datapull for 60641
new appended category total: 12  for 60641
starting datapull for 60642
finished datapull for 60642
new appended category total: 4  for 60642
starting datapull for 60643
finished datapull for 60643
new appended category total: 5  for 60643
starting datapull for 60644
finished datapull for 60644
new appended category total: 3  for 60644
starting datapull for 60645
finished datapull for 60645
new appended category total: 7  for 60645
starting datapull for 60646
finished datapull for 60646
new appended category total: 6  for 60646
starting datapull for 60647
finished datapull for 60647
new appended category total: 34  for 60647
starting datapull for 60649
finished datapull for 60649
new appended category total: 3  for 60649
starting datapull for 60651
finished datapull for 60651
new appended category total: 7  for 60651
starting datapull for 60652
finished datapull for 60652
new appended category total: 2  for 60652
starting datapull for 60653
finished datapull for 60653
new appended category total: 4  for 60653
starting datapull for 60654
finished datapull for 60654
new appended category total: 4  for 60654
starting datapull for 60655
finished datapull for 60655
new appended category total: 1  for 60655
starting datapull for 60656
finished datapull for 60656
new appended category total: 3  for 60656
starting datapull for 60657
finished datapull for 60657
new appended category total: 14  for 60657
starting datapull for 60659
finished datapull for 60659
new appended category total: 21  for 60659
starting datapull for 60660
finished datapull for 60660
new appended category total: 15  for 60660
starting datapull for 60661
finished datapull for 60661
new appended category total: 7  for 60661
starting datapull for 60706
finished datapull for 60706
new appended category total: 9  for 60706
starting datapull for 60707
finished datapull for 60707
new appended category total: 7  for 60707
starting datapull for 60803
finished datapull for 60803
new appended category total: 4  for 60803
starting datapull for 60804
finished datapull for 60804
new appended category total: 7  for 60804
starting datapull for 60805
finished datapull for 60805
new appended category total: 11  for 60805

In [40]:
#combine nightlife, restaurant and grocery with zipcode into dataframe
yelp_df=pd.DataFrame({"Zipcode":zipcodes, "Total Nightlife": category_l, "Total Restaurant": category_r, 
                      "Total Grocery": category_g})

In [41]:
yelp_df.to_csv("Output/Yelp_Data.csv", encoding="utf-8", index=False)

In [7]:
#CRIME DATA
#read in crime data
df_crime = pd.read_csv('Resources/Crimes_2018.csv')
df_crime_latlon=df_crime.loc[:,['Latitude', 'Longitude']]
df_crime_latlon.head()

    Latitude  Longitude
0  41.689079 -87.696064
1  41.763181 -87.657709
2  41.740521 -87.647391
3  41.857068 -87.657625
4  41.751914 -87.647717

In [8]:
len(df_crime_latlon)

263455

In [9]:
from uszipcode import SearchEngine, SimpleZipcode, Zipcode
search = SearchEngine()

In [10]:
res = []
#for every row in df_crime_latlon
for index, row in df_crime_latlon.iterrows():
    #part of uszipcode library it takes the lat/lon from the row you are in and looks for the nearest zip (returns=1) 
    #in a 3 mile radius
    result = search.by_coordinates(row["Latitude"], row["Longitude"], radius=3, returns=1)
    #append to res
    res.append(result)

In [11]:
#create a blank list for zipcodes
zipcodes_crime = []
#for every entry returned in res
for i in range(len(res)):
    #this is a list of lists so for every entry there is another list inside that contains geographical information
    for x in res[i]:
        # zipcode is from uszipcode library and find the zipcode in the list
        zip = x.zipcode
     #   first = res[i]
        #append the zipcode to the zipcodes list
        zipcodes_crime.append(zip)
#     zipcodes.append(first)
len(zipcodes_crime)

263455

In [12]:
#create a dataframe of zipcodes
crime_zip_df = pd.DataFrame({"Zipcode": zipcodes_crime})

In [13]:
#count number of zip codes and reset index so zip code becomes a column
zipcode_count = crime_zip_df["Zipcode"].value_counts().reset_index()
#rename the variables and output to csv
crime_count = zipcode_count.rename(columns={"index": "Zipcode","Zipcode":"Crime Count"})

#make sure zipcode is numeric
crime_count['Zipcode'] = pd.to_numeric(crime_count['Zipcode'])
crime_count_df = crime_count.sort_values("Zipcode")
crime_count_df

    Zipcode  Crime Count
67    46327          135
64    46394          205
52    60018         1004
80    60068            1
77    60106           12
72    60131           41
76    60171           14
68    60176          127
79    60202            4
54    60302          794
61    60304          279
71    60402           88
74    60406           34
69    60419          121
59    60456          440
62    60459          236
66    60501          142
75    60534           28
50    60601         1087
9     60602         8086
45    60603         2086
51    60604         1062
42    60605         2387
48    60606         1352
26    60607         3943
27    60608         3861
25    60609         3967
15    60610         6405
63    60611          217
16    60612         6099
..      ...          ...
5     60636         8437
8     60637         8107
37    60638         2843
17    60639         6052
33    60640         3361
22    60641         4550
34    60642         3310
19    60643         4580
7     60644         8108
46    60645         1730
57    60646          561
13    60647         6460
10    60649         7710
6     60651         8126
40    60652         2518
30    60653         3717
39    60654         2733
56    60655          636
53    60656          928
24    60657         3994
38    60659         2775
36    60660         2868
44    60661         2255
49    60707         1269
70    60712           96
73    60714           37
78    60803            4
65    60804          151
60    60805          319
43    60827         2280

[81 rows x 2 columns]

In [14]:
#export data to csv
crime_count_df.to_csv("Output/Crime_Count_by_Zip.csv", encoding="utf-8", index=False)

CENSUS DATA

In [7]:
# CENSUS DATA

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})



# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

   

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd['Zipcode'] = pd.to_numeric(census_pd['Zipcode'])
census_pd.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915
1,602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283
2,603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416
3,606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168
4,610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369

In [8]:
chicago_census_df = pd.merge(zipcode_df, census_pd, on="Zipcode")
chicago_census_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,60601,13887.0,37.6,110215.0,95152.0,1171.0,8.432347
1,60602,1277.0,31.1,115774.0,77279.0,32.0,2.505873
2,60603,1197.0,26.7,140114.0,106207.0,261.0,21.804511
3,60604,668.0,40.6,114565.0,130966.0,127.0,19.011976
4,60605,26188.0,33.6,107811.0,81144.0,2312.0,8.828471

In [9]:
chicago_census_df["Lat"] = ""
chicago_census_df["Lng"] = ""
chicago_census_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Lat,Lng
0,60601,13887.0,37.6,110215.0,95152.0,1171.0,8.432347,,
1,60602,1277.0,31.1,115774.0,77279.0,32.0,2.505873,,
2,60603,1197.0,26.7,140114.0,106207.0,261.0,21.804511,,
3,60604,668.0,40.6,114565.0,130966.0,127.0,19.011976,,
4,60605,26188.0,33.6,107811.0,81144.0,2312.0,8.828471,,

In [10]:
params = {"key": gkey}

for index, row in chicago_census_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    address = row['Zipcode']

    # update address key value
    params['address'] = f"{address}"

    # make request
    response = requests.get(base_url, params=params).json()
    
  
    # convert to json
#     zip_lat_lng = response.json()

    chicago_census_df.loc[index, "Lat"] = response["results"][0]["geometry"]["location"]["lat"]
    chicago_census_df.loc[index, "Lng"] = response["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
chicago_census_df.head()
# zip_lat_lng

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Lat,Lng
0,60601,13887.0,37.6,110215.0,95152.0,1171.0,8.432347,41.884,-87.6197
1,60602,1277.0,31.1,115774.0,77279.0,32.0,2.505873,41.8835,-87.6291
2,60603,1197.0,26.7,140114.0,106207.0,261.0,21.804511,41.8809,-87.6254
3,60604,668.0,40.6,114565.0,130966.0,127.0,19.011976,41.8785,-87.6279
4,60605,26188.0,33.6,107811.0,81144.0,2312.0,8.828471,41.8703,-87.6236

In [11]:
# Merge housing data into the census data

chicago_housing_census_df =  pd.merge(housing_df, chicago_census_df, on="Zipcode")
chicago_housing_census_df.head()

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Lat,Lng
0,60601,1944.0,391000,13887.0,37.6,110215.0,95152.0,1171.0,8.432347,41.884,-87.6197
1,60602,1666.0,NaN,1277.0,31.1,115774.0,77279.0,32.0,2.505873,41.8835,-87.6291
2,60603,1630.0,NaN,1197.0,26.7,140114.0,106207.0,261.0,21.804511,41.8809,-87.6254
3,60604,1835.0,NaN,668.0,40.6,114565.0,130966.0,127.0,19.011976,41.8785,-87.6279
4,60605,1865.0,284200,26188.0,33.6,107811.0,81144.0,2312.0,8.828471,41.8703,-87.6236

In [12]:
chicago_housing_census_df.to_csv("Output/Chicago_Housing_and_Census_Data.csv", encoding="utf-8", index=False)

AirBnB Data

In [26]:
# Import AirBnB listing Data from Resources
# Source: http://insideairbnb.com/get-the-data.html
airbnb_df = pd.read_csv('Resources/AisBnB_listings.csv')
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,Hyde Park - Walk to UChicago/Metra to McCormic...,2613,Rebecca,NaN,Hyde Park,41.78886,-87.58671,Private room,50,2,149,5/17/2019,2.81,1,316
1,4505,We're back. 365 Great Reviews. 1 bad one.,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,117,2,368,5/5/2019,2.96,1,310
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,80,2,338,5/5/2019,2.81,1,309
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,150,4,35,5/15/2019,0.56,11,280
4,10610,3 Comforts of Cooperative Living,2140,Lois And Ed,NaN,Hyde Park,41.79708,-87.59195,Private room,35,2,38,4/12/2019,0.68,5,240

In [27]:
# Keep only required columns and create a cleaned AirBnB

airbnb_cleaned = airbnb_df[["name", "neighbourhood","latitude", "longitude", "number_of_reviews"]]
airbnb_cleaned.head()

,name,neighbourhood,latitude,longitude,number_of_reviews
0,Hyde Park - Walk to UChicago/Metra to McCormic...,Hyde Park,41.78886,-87.58671,149
1,We're back. 365 Great Reviews. 1 bad one.,South Lawndale,41.85495,-87.69696,368
2,Tiny Studio Apartment 94 Walk Score,West Town,41.90289,-87.68182,338
3,Barbara's Hideaway - Old Town,Lincoln Park,41.91769,-87.63788,35
4,3 Comforts of Cooperative Living,Hyde Park,41.79708,-87.59195,38

In [37]:
# All the latitude and longitudes need to be coverted into zipcodes.

results = []
#for every row in df_crime_latlon
for index, row in airbnb_cleaned.iterrows():
    #part of uszipcode library it takes the lat/lon from the row you are in and looks for the nearest zip (returns=1) 
    #in a 3 mile radius
    result = search.by_coordinates(row["latitude"], row["longitude"], radius=3, returns=1)
    #append to res
    results.append(result)

In [38]:
len(results)

8169

In [39]:
#create a blank list for zipcodes
zipcodes_airbnb= []
#for every entry returned in res
for i in range(len(results)):
    #this is a list of lists so for every entry there is another list inside that contains geographical information
    for x in results[i]:
        # zipcode is from uszipcode library and find the zipcode in the list
        zip = x.zipcode
     #   first = res[i]
        #append the zipcode to the zipcodes list
        zipcodes_airbnb.append(zip)
#     zipcodes.append(first)
len(zipcodes_airbnb)
zipcodes_airbnb

['60637',
 '60608',
 '60622',
 '60614',
 '60615',
 '60614',
 '60614',
 '60642',
 '60614',
 '60614',
 '60614',
 '60647',
 '60640',
 '60654',
 '60614',
 '60614',
 '60614',
 '60614',
 '60622',
 '60640',
 '60622',
 '60640',
 '60640',
 '60622',
 '60657',
 '60618',
 '60614',
 '60657',
 '60657',
 '60657',
 '60642',
 '60625',
 '60641',
 '60647',
 '60622',
 '60618',
 '60628',
 '60642',
 '60657',
 '60640',
 '60641',
 '60614',
 '60613',
 '60614',
 '60661',
 '60640',
 '60605',
 '60645',
 '60610',
 '60661',
 '60625',
 '60647',
 '60619',
 '60654',
 '60660',
 '60647',
 '60616',
 '60637',
 '60616',
 '60625',
 '60614',
 '60615',
 '60615',
 '60657',
 '60642',
 '60616',
 '60626',
 '60642',
 '60647',
 '60642',
 '60622',
 '60605',
 '60647',
 '60608',
 '60647',
 '60640',
 '60642',
 '60626',
 '60625',
 '60614',
 '60613',
 '60647',
 '60653',
 '60613',
 '60642',
 '60642',
 '60657',
 '60642',
 '60642',
 '60626',
 '60657',
 '60642',
 '60642',
 '60611',
 '60646',
 '60646',
 '60657',
 '60613',
 '60659',
 '60622',
 '60610',
 '60651',
 '60622',
 '60622',
 '60642',
 '60657',
 '60647',
 '60647',
 '60660',
 '60601',
 '60661',
 '60618',
 '60613',
 '60640',
 '60614',
 '60640',
 '60640',
 '60645',
 '60626',
 '60642',
 '60622',
 '60625',
 '60614',
 '60607',
 '60654',
 '60614',
 '60642',
 '60647',
 '60647',
 '60622',
 '60614',
 '60612',
 '60608',
 '60642',
 '60642',
 '60660',
 '60626',
 '60626',
 '60626',
 '60610',
 '60622',
 '60654',
 '60623',
 '60623',
 '60623',
 '60653',
 '60613',
 '60657',
 '60616',
 '60640',
 '60644',
 '60644',
 '60626',
 '60647',
 '60624',
 '60647',
 '60657',
 '60626',
 '60613',
 '60614',
 '60613',
 '60612',
 '60622',
 '60613',
 '60641',
 '60641',
 '60640',
 '60622',
 '60622',
 '60612',
 '60626',
 '60657',
 '60614',
 '60622',
 '60660',
 '60647',
 '60615',
 '60613',
 '60640',
 '60608',
 '60660',
 '60653',
 '60625',
 '60614',
 '60645',
 '60653',
 '60645',
 '60614',
 '60614',
 '60659',
 '60647',
 '60601',
 '60601',
 '60607',
 '60642',
 '60642',
 '60642',
 '60615',
 '60653',
 '60643',
 '60608',
 '60610',
 '60610',
 '60647',
 '60626',
 '60657',
 '60607',
 '60640',
 '60625',
 '60626',
 '60619',
 '60632',
 '60613',
 '60622',
 '60622',
 '60657',
 '60642',
 '60626',
 '60602',
 '60615',
 '60657',
 '60608',
 '60607',
 '60618',
 '60622',
 '60647',
 '60637',
 '60615',
 '60661',
 '60614',
 '60622',
 '60622',
 '60656',
 '60626',
 '60618',
 '60616',
 '60657',
 '60657',
 '60613',
 '60657',
 '60653',
 '60647',
 '60613',
 '60647',
 '60642',
 '60614',
 '60640',
 '60659',
 '60642',
 '60653',
 '60653',
 '60607',
 '60614',
 '60614',
 '60624',
 '60646',
 '60614',
 '60608',
 '60647',
 '60622',
 '60654',
 '60622',
 '60610',
 '60605',
 '60615',
 '60613',
 '60613',
 '60622',
 '60602',
 '60642',
 '60612',
 '60618',
 '60654',
 '60657',
 '60608',
 '60625',
 '60610',
 '60602',
 '60622',
 '60602',
 '60640',
 '60622',
 '60612',
 '60621',
 '60607',
 '60623',
 '60622',
 '60642',
 '60616',
 '60622',
 '60615',
 '60637',
 '60642',
 '60614',
 '60640',
 '60601',
 '60660',
 '60616',
 '60612',
 '60642',
 '60657',
 '60647',
 '60616',
 '60643',
 '60643',
 '60641',
 '60626',
 '60653',
 '60614',
 '60613',
 '60657',
 '60616',
 '60660',
 '60616',
 '60602',
 '60660',
 '60618',
 '60622',
 '60653',
 '60642',
 '60601',
 '60618',
 '60661',
 '60629',
 '60642',
 '60660',
 '60614',
 '60615',
 '60612',
 '60630',
 '60649',
 '60647',
 '60610',
 '60614',
 '60616',
 '60625',
 '60614',
 '60647',
 '60618',
 '60612',
 '60626',
 '60607',
 '60653',
 '60647',
 '60649',
 '60625',
 '60657',
 '60622',
 '60660',
 '60657',
 '60657',
 '60657',
 '60618',
 '60622',
 '60622',
 '60657',
 '60661',
 '60624',
 '60605',
 '60605',
 '60622',
 '60647',
 '60657',
 '60632',
 '60614',
 '60616',
 '60640',
 '60626',
 '60613',
 '60614',
 '60615',
 '60657',
 '60622',
 '60614',
 '60632',
 '60622',
 '60647',
 '60601',
 '60610',
 '60647',
 '60660',
 '60657',
 '60647',
 '60626',
 '60626',
 '60625',
 '60626',
 '60622',
 '60654',
 '60615',
 '60602',
 '60657',
 '60610',
 '60626',
 '60647',
 '60610',
 '60613',
 '60645',
 '60660',
 '60657',
 '60616',
 '60622',
 '60649',
 '60647',
 '60613',
 '60629',
 '60642',
 '60613',
 '60645',
 '60604',
 '60647',
 '60622',
 '60640',
 '60654',
 '60615',
 '60660',
 '60640',
 '60606',
 '60622',
 '60634',
 '60657',
 '60647',
 '60614',
 '60626',
 '60626',
 '60612',
 '60647',
 '60618',
 '60613',
 '60622',
 '60615',
 '60615',
 '60637',
 '60614',
 '60615',
 '60614',
 '60657',
 '60613',
 '60637',
 '60608',
 '60642',
 '60614',
 '60626',
 '60642',
 '60647',
 '60613',
 '60640',
 '60656',
 '60625',
 '60610',
 '60614',
 '60657',
 '60611',
 '60629',
 '60618',
 '60654',
 '60622',
 '60618',
 '60613',
 '60647',
 '60626',
 '60610',
 '60625',
 '60661',
 '60625',
 '60653',
 '60641',
 '60647',
 '60647',
 '60653',
 '60657',
 '60660',
 '60618',
 '60646',
 '60645',
 '60610',
 '60640',
 '60613',
 '60608',
 '60657',
 '60610',
 '60625',
 '60660',
 '60640',
 '60607',
 '60605',
 '60607',
 '60605',
 '60647',
 '60661',
 '60641',
 '60610',
 '60647',
 '60610',
 '60640',
 '60614',
 '60642',
 '60657',
 '60610',
 '60626',
 '60634',
 '60622',
 '60613',
 '60647',
 '60614',
 '60647',
 '60615',
 '60657',
 '60647',
 '60647',
 '60647',
 '60611',
 '60622',
 '60614',
 '60617',
 '60613',
 '60640',
 '60622',
 '60640',
 '60640',
 '60614',
 '60626',
 '60622',
 '60642',
 '60625',
 '60618',
 '60653',
 '60628',
 '60622',
 '60641',
 '60641',
 '60626',
 '60647',
 '60614',
 '60640',
 '60620',
 '60660',
 '60602',
 '60622',
 '60647',
 '60642',
 '60622',
 '60647',
 '60625',
 '60647',
 '60642',
 '60622',
 '60622',
 '60622',
 '60622',
 '60612',
 '60622',
 '60608',
 '60608',
 '60615',
 '60607',
 '60626',
 '60647',
 '60647',
 '60642',
 '60622',
 '60622',
 '60647',
 '60647',
 '60647',
 '60660',
 '60618',
 '60647',
 '60626',
 '60649',
 '60614',
 '60622',
 '60618',
 '60622',
 '60642',
 '60649',
 '60649',
 '60622',
 '60657',
 '60622',
 '60640',
 '60622',
 '60642',
 '60641',
 '60647',
 '60614',
 '60614',
 '60642',
 '60647',
 '60657',
 '60608',
 '60602',
 '60647',
 '60640',
 '60612',
 '60608',
 '60608',
 '60608',
 '60608',
 '60640',
 '60610',
 '60642',
 '60614',
 '60653',
 '60624',
 '60647',
 '60657',
 '60624',
 '60614',
 '60612',
 '60657',
 '60611',
 '60624',
 '60612',
 '60637',
 '60622',
 '60654',
 '60654',
 '60642',
 '60641',
 '60602',
 '60632',
 '60618',
 '60626',
 '60641',
 '60609',
 '60616',
 '60603',
 '60626',
 '60645',
 '60618',
 '60640',
 '60640',
 '60657',
 '60618',
 '60618',
 '60647',
 '60640',
 '60626',
 '60641',
 '60642',
 '60642',
 '60608',
 '60661',
 '60647',
 '60647',
 '60618',
 '60601',
 '60647',
 '60618',
 '60654',
 '60640',
 '60647',
 '60657',
 '60642',
 '60647',
 '60647',
 '60647',
 '60634',
 '60647',
 '60625',
 '60647',
 '60626',
 '60625',
 '60625',
 '60643',
 '60647',
 '60654',
 '60610',
 '60625',
 '60633',
 '60618',
 '60622',
 '60616',
 '60659',
 '60605',
 '60642',
 '60607',
 '60660',
 '60641',
 '60642',
 '60613',
 '60610',
 '60645',
 '60615',
 '60608',
 '60618',
 '60601',
 '60616',
 '60642',
 '60611',
 '60614',
 '60642',
 '60637',
 '60657',
 '60614',
 '60614',
 '60657',
 '60608',
 '60642',
 '60614',
 '60639',
 '60637',
 '60647',
 '60647',
 '60647',
 '60625',
 '60613',
 '60614',
 '60607',
 '60625',
 '60613',
 '60622',
 '60610',
 '60626',
 '60647',
 '60640',
 '60657',
 '60657',
 '60647',
 '60613',
 '60640',
 '60642',
 '60601',
 '60660',
 '60657',
 '60610',
 '60657',
 '60657',
 '60625',
 '60637',
 '60640',
 '60640',
 '60607',
 '60653',
 '60657',
 '60642',
 '60642',
 '60647',
 '60621',
 '60647',
 '60621',
 '60642',
 '60653',
 '60621',
 '60657',
 '60616',
 '60657',
 '60622',
 '60616',
 '60660',
 '60602',
 '60657',
 '60605',
 '60630',
 '60618',
 '60622',
 '60630',
 '60613',
 '60647',
 '60642',
 '60647',
 '60657',
 '60618',
 '60614',
 '60641',
 '60614',
 '60614',
 '60640',
 '60640',
 '60610',
 '60642',
 '60607',
 '60641',
 '60649',
 '60622',
 '60608',
 '60624',
 '60641',
 '60653',
 '60641',
 '60641',
 '60642',
 '60647',
 '60647',
 '60622',
 '60641',
 '60607',
 '60622',
 '60642',
 '60661',
 '60657',
 '60618',
 '60625',
 '60634',
 '60657',
 '60642',
 '60640',
 '60660',
 '60642',
 '60642',
 '60614',
 '60629',
 '60634',
 '60607',
 '60610',
 '60641',
 '60647',
 '60645',
 '60618',
 '60618',
 '60657',
 '60647',
 '60642',
 '60622',
 '60647',
 '60653',
 '60612',
 '60645',
 '60647',
 '60601',
 '60622',
 '60629',
 '60642',
 '60616',
 '60642',
 '60659',
 '60626',
 '60622',
 '60622',
 '60613',
 '60623',
 '60647',
 '60640',
 '60601',
 '60640',
 '60660',
 '60647',
 '60608',
 '60622',
 '60647',
 '60641',
 '60614',
 '60642',
 '60642',
 '60660',
 '60622',
 '60656',
 '60622',
 '60608',
 '60642',
 '60640',
 '60608',
 '60618',
 '60641',
 '60607',
 '60647',
 '60657',
 '60630',
 '60630',
 '60610',
 '60618',
 '60661',
 '60657',
 '60647',
 '60608',
 '60647',
 '60657',
 '60657',
 '60657',
 '60640',
 '60647',
 '60640',
 '60625',
 '60660',
 '60641',
 '60613',
 '60613',
 '60660',
 '60613',
 '60660',
 '60657',
 '60622',
 '60622',
 '60614',
 '60614',
 '60641',
 '60642',
 '60640',
 '60630',
 '60657',
 '60641',
 '60618',
 '60642',
 '60653',
 '60626',
 '60661',
 '60616',
 '60614',
 '60613',
 '60640',
 '60618',
 '60622',
 '60641',
 '60657',
 '60622',
 '60615',
 '60641',
 '60641',
 '60615',
 '60610',
 '60642',
 '60640',
 '60626',
 '60642',
 '60644',
 '60630',
 '60652',
 '60614',
 '60622',
 '60642',
 '60613',
 '60608',
 '60608',
 '60602',
 '60613',
 '60647',
 '60642',
 '60642',
 '60622',
 '60653',
 '60609',
 '60607',
 '60613',
 '60622',
 '60602',
 '60642',
 '60653',
 '60642',
 '60639',
 '60653',
 '60653',
 '60613',
 '60654',
 '60613',
 '60642',
 '60660',
 '60610',
 '60653',
 '60614',
 '60642',
 '60613',
 '60622',
 '60615',
 '60642',
 '60612',
 '60614',
 '60624',
 '60625',
 '60622',
 '60622',
 '60647',
 '60642',
 '60614',
 '60647',
 '60640',
 '60640',
 '60642',
 '60647',
 '60642',
 '60647',
 '60613',
 '60647',
 '60602',
 '60646',
 '60613',
 '60610',
 '60626',
 '60653',
 '60622',
 '60622',
 '60647',
 '60657',
 '60612',
 '60647',
 '60625',
 '60622',
 '60642',
 '60613',
 '60613',
 '60609',
 '60660',
 '60625',
 '60647',
 '60625',
 '60641',
 '60610',
 '60641',
 '60616',
 '60605',
 ...]

In [40]:
# Create a dataframe of all the zipcodes 

airbnb_zip_df = pd.DataFrame({"Zipcode": zipcodes_airbnb})

In [41]:
# Join zipcode dataframe with the cleaned AirBnB dataframe

airbnb_data_by_zipcode = airbnb_cleaned.join(airbnb_zip_df)
airbnb_data_by_zipcode.head()

,name,neighbourhood,latitude,longitude,number_of_reviews,Zipcode
0,Hyde Park - Walk to UChicago/Metra to McCormic...,Hyde Park,41.78886,-87.58671,149,60637
1,We're back. 365 Great Reviews. 1 bad one.,South Lawndale,41.85495,-87.69696,368,60608
2,Tiny Studio Apartment 94 Walk Score,West Town,41.90289,-87.68182,338,60622
3,Barbara's Hideaway - Old Town,Lincoln Park,41.91769,-87.63788,35,60614
4,3 Comforts of Cooperative Living,Hyde Park,41.79708,-87.59195,38,60615

In [42]:
# Keep only required columns: Zipcode and the number of reviews for the zipcode

airbnb_zipcode = airbnb_data_by_zipcode[["Zipcode", "number_of_reviews"]]
airbnb_zipcode.head()

  Zipcode  number_of_reviews
0   60637                149
1   60608                368
2   60622                338
3   60614                 35
4   60615                 38

In [43]:
# Sort the dataframe by zipcode 

airbnb_zipcode_sort = airbnb_zipcode.sort_values("Zipcode")
airbnb_zipcode_sort.head()

     Zipcode  number_of_reviews
4782   46327                  2
8006   60202                  0
4428   60302                 11
1091   60302                 83
4555   60302                 16

In [44]:
# Create a list of unique zipcode to visualize

airbnb_zipcode_sort["Zipcode"].unique()

array(['46327', '60202', '60302', '60304', '60456', '60501', '60601',
       '60602', '60603', '60604', '60605', '60606', '60607', '60608',
       '60609', '60610', '60611', '60612', '60613', '60614', '60615',
       '60616', '60617', '60618', '60619', '60620', '60621', '60622',
       '60623', '60624', '60625', '60626', '60628', '60629', '60630',
       '60631', '60632', '60633', '60634', '60636', '60637', '60638',
       '60639', '60640', '60641', '60642', '60643', '60644', '60645',
       '60646', '60647', '60649', '60651', '60652', '60653', '60654',
       '60656', '60657', '60659', '60660', '60661', '60707', '60712',
       '60805'], dtype=object)

In [45]:
# group the data by zipcode

grouped_zipcode = airbnb_zipcode_sort.groupby(['Zipcode'])

In [46]:
# The average review counts are the number of reviews in that zipcodes
avg_reviews = round(grouped_zipcode.mean()["number_of_reviews"])

# Create a dataframe of review count for each zipcode in the list
airbnb_reviews_zipcode = pd.DataFrame({"AirBnB Review Count": avg_reviews})
airbnb_reviews_zipcode.head()

         AirBnB Review Count
Zipcode
46327                    2.0
60202                    0.0
60302                   37.0
60304                    1.0
60456                    2.0

In [47]:
airbnb_reviews_zipcode.to_csv("Output/AirBnB_Reviews_Zipcode.csv", encoding="utf-8")

In [48]:
airbnb_zipcode_df = pd.read_csv("Output/AirBnB_Reviews_Zipcode.csv")

In [49]:
# merge AirBnB data and housing rent data on zipcode

airbnb_rent_df = pd.merge(airbnb_zipcode_df, rent_df, on="Zipcode")
airbnb_rent_df
# len(airbnb_rent_df)

    Zipcode  AirBnB Review Count  Median Rent
0     60601                 11.0       1944.0
1     60602                 19.0       1666.0
2     60603                 10.0       1630.0
3     60604                 22.0       1835.0
4     60605                 20.0       1865.0
5     60606                 27.0       1910.0
6     60607                 50.0       1937.0
7     60608                 46.0       1698.0
8     60609                 25.0       1455.0
9     60610                 31.0       1874.0
10    60611                 22.0       1928.0
11    60612                 45.0       1713.0
12    60613                 37.0       1640.0
13    60614                 48.0       2193.0
14    60615                 37.0       1576.0
15    60616                 40.0       1741.0
16    60617                 16.0       1395.0
17    60618                 39.0       1977.0
18    60619                 24.0       1429.0
19    60620                 21.0       1424.0
20    60621                 30.0       1348.0
21    60622                 53.0       2221.0
22    60623                 35.0       1441.0
23    60624                 64.0       1470.0
24    60625                 32.0       1841.0
25    60626                 38.0       1495.0
26    60628                 56.0       1391.0
27    60629                 77.0       1488.0
28    60630                 40.0       1946.0
29    60631                 27.0       2045.0
30    60632                 30.0       1528.0
31    60633                 11.0       1395.0
32    60634                 30.0       1858.0
33    60636                 22.0       1349.0
34    60637                 32.0       1443.0
35    60638                 34.0       1634.0
36    60639                 32.0       1719.0
37    60640                 37.0       1642.0
38    60641                 34.0       1880.0
39    60642                 39.0       2209.0
40    60643                 42.0       1478.0
41    60644                 25.0       1507.0
42    60645                 28.0       1620.0
43    60646                 37.0       2250.0
44    60647                 50.0       1955.0
45    60649                 19.0       1372.0
46    60651                 32.0       1536.0
47    60652                 31.0       1520.0
48    60653                 38.0       1666.0
49    60654                 19.0       1867.0
50    60656                 47.0       1890.0
51    60657                 36.0       1990.0
52    60659                 30.0       1860.0
53    60660                 39.0       1567.0
54    60661                 36.0       1855.0
55    60707                 12.0       1839.0
56    60805                 14.0       1566.0

In [50]:
# save the csv file
airbnb_rent_df.to_csv("Output/AirBnB_Reviews_Rent_Data.csv", encoding="utf-8", index=False)