In [104]:
import pandas as pd
import numpy as np
from pprint import pprint

In [105]:
airbnb_df = pd.read_csv('airbnb_cleaned.csv')
zipcode_df = pd.read_csv('zip_list.csv')

In [120]:
airbnb_zipcode_df = airbnb_df.join(zipcode_df)
airbnb_zipcode_df.head()

,name,neighbourhood,latitude,longitude,number_of_reviews,Zipcode
0,Hyde Park - Walk to UChicago/Metra to McCormic...,Hyde Park,41.78886,-87.58671,149,60637
1,We're back. 365 Great Reviews. 1 bad one.,South Lawndale,41.85495,-87.69696,368,60608
2,Tiny Studio Apartment 94 Walk Score,West Town,41.90289,-87.68182,338,60622
3,Barbara's Hideaway - Old Town,Lincoln Park,41.91769,-87.63788,35,60614
4,3 Comforts of Cooperative Living,Hyde Park,41.79708,-87.59195,38,60615

In [122]:
airbnb_zipcode_df = airbnb_zipcode_df.sort_values("Zipcode")
airbnb_zipcode_sort = airbnb_zipcode_df.reset_index(drop=True)
airbnb_zipcode_sort.head()

,name,neighbourhood,latitude,longitude,number_of_reviews,Zipcode
0,perfect corporate rental,Hegewisch,41.65578,-87.53790,2,46327
1,The Brummel Full Apartment,Rogers Park,42.02243,-87.68409,0,60202
2,Chicago OakPark Connects,Austin,41.89983,-87.77412,11,60302
3,Flexible Apt. for 8 by Oak Park-CHI,Austin,41.90989,-87.78467,83,60302
4,Spacious bedroom with queen size bed,Austin,41.90961,-87.78498,16,60302

In [123]:
airbnb_zipcode_sort = airbnb_zipcode_df[["Zipcode", "number_of_reviews"]]
airbnb_zipcode_sort.head()

      Zipcode  number_of_reviews
4782    46327                  2
8006    60202                  0
4428    60302                 11
1091    60302                 83
4555    60302                 16

In [124]:
zipcode_reviews["Zipcode"].unique()

array([46327, 60202, 60302, 60304, 60456, 60501, 60601, 60602, 60603,
       60604, 60605, 60606, 60607, 60608, 60609, 60610, 60611, 60612,
       60613, 60614, 60615, 60616, 60617, 60618, 60619, 60620, 60621,
       60622, 60623, 60624, 60625, 60626, 60628, 60629, 60630, 60631,
       60632, 60633, 60634, 60636, 60637, 60638, 60639, 60640, 60641,
       60642, 60643, 60644, 60645, 60646, 60647, 60649, 60651, 60652,
       60653, 60654, 60656, 60657, 60659, 60660, 60661, 60707, 60712,
       60805], dtype=int64)

In [126]:
zipcode_reviews_clean = zipcode_reviews.loc[zipcode_reviews["Zipcode"] != 46327, :]
zipcode_reviews_clean.head()

      Zipcode  number_of_reviews
8006    60202                  0
4428    60302                 11
1091    60302                 83
1400    60302                 18
3514    60302                 31

In [127]:
zipcode_reviews_clean["Zipcode"].unique()

array([60202, 60302, 60304, 60456, 60501, 60601, 60602, 60603, 60604,
       60605, 60606, 60607, 60608, 60609, 60610, 60611, 60612, 60613,
       60614, 60615, 60616, 60617, 60618, 60619, 60620, 60621, 60622,
       60623, 60624, 60625, 60626, 60628, 60629, 60630, 60631, 60632,
       60633, 60634, 60636, 60637, 60638, 60639, 60640, 60641, 60642,
       60643, 60644, 60645, 60646, 60647, 60649, 60651, 60652, 60653,
       60654, 60656, 60657, 60659, 60660, 60661, 60707, 60712, 60805],
      dtype=int64)

In [128]:
grouped_zipcode = zipcode_reviews_clean.groupby(['Zipcode'])
grouped_zipcode.mean().head()

         number_of_reviews
Zipcode
60202             0.000000
60302            37.142857
60304             1.000000
60456             2.000000
60501             0.000000

In [129]:
avg_reviews = grouped_zipcode.mean()["number_of_reviews"]

In [130]:
airbnb_reviews_zipcode = pd.DataFrame({"Total Reviews": avg_reviews})
airbnb_reviews_zipcode.head()

         Total Reviews
Zipcode
60202         0.000000
60302        37.142857
60304         1.000000
60456         2.000000
60501         0.000000

In [131]:
airbnb_reviews_zipcode.to_csv("airbnb_reviews_zipcode.csv", encoding="utf-8")
# grouped_zipcode.to_csv('airbnb_reviews_zipcode.csv')