In [21]:
import gmaps
import pandas as pd
import requests
import json
from pprint import pprint
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [22]:
rent_df = pd.read_csv('housing_census_data.csv')
rent_df.head()

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,60601,1944.0,391100.0,13887,37.6,110215,95152,1171,8.432347
1,60602,1666.0,NaN,1277,31.1,115774,77279,32,2.505873
2,60603,1630.0,NaN,1197,26.7,140114,106207,261,21.804511
3,60604,1835.0,NaN,668,40.6,114565,130966,127,19.011976
4,60605,1865.0,284100.0,26188,33.6,107811,81144,2312,8.828471

In [26]:
# Target city
# address = rent_df["Zipcode"]
zipcodes = rent_df['Zipcode'].tolist()

In [ ]:
# Build the endpoint URL
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(address, gkey)
print(target_url)

In [4]:
# Create aiport dataframe
rent_df = pd.read_csv('housing_census_data.csv')
rent_df.head()

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,60601,1944.0,391100.0,13887,37.6,110215,95152,1171,8.432347
1,60602,1666.0,NaN,1277,31.1,115774,77279,32,2.505873
2,60603,1630.0,NaN,1197,26.7,140114,106207,261,21.804511
3,60604,1835.0,NaN,668,40.6,114565,130966,127,19.011976
4,60605,1865.0,284100.0,26188,33.6,107811,81144,2312,8.828471

In [7]:
# Store latitude and longitude in locations
address = rent_df["Zipcode"]

# Fill NaN values and convert to float
rent = rent_df["Median Rent"].astype(float)

In [17]:
locations = [(46.1, 5.2), (48.2, 5.3), (50.3, 5.4)]
weights = [2, 4, 6]

In [18]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

![08-Airport_Heatmap.png](../Images/08-Airport_Heatmap.png)

In [15]:
# BONUS
# Plost as a Hybrid map
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

![08-Hybrid_Map.png](../Images/08-Hybrid_Map.png)

In [16]:
# BONUS
# Plot as a Terrain map
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

![08-Terrain_Map.png](../Images/08-Terrain_Map.png)