In [4]:
# Dependencies
import numpy as np
import pandas as pd

In [5]:
housing_df=pd.read_csv("housing_data.csv")
census_df=pd.read_csv("chicago_census_data.csv")

In [6]:
housing_census_df = pd.merge(housing_df, census_df, on="Zipcode")
housing_census_df.head()

# len(chicago_df)

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,60601,1944.0,391100.0,13887,37.6,110215,95152,1171,8.432347
1,60602,1666.0,NaN,1277,31.1,115774,77279,32,2.505873
2,60603,1630.0,NaN,1197,26.7,140114,106207,261,21.804511
3,60604,1835.0,NaN,668,40.6,114565,130966,127,19.011976
4,60605,1865.0,284100.0,26188,33.6,107811,81144,2312,8.828471

In [8]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
housing_census_df.to_csv("housing_census_data.csv", encoding="utf-8", index=False)