In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
airbnb_df=pd.read_csv("AirBnB_Reviews_Zipcode.csv")
rent_df=pd.read_csv("Zipcode_Rent.csv")

In [7]:
airbnb_rent_df = pd.merge(airbnb_df, rent_df, on="Zipcode")
airbnb_rent_df.head()

   Zipcode  Review Count  Median Rent
0    60601          11.0         1944
1    60602          19.0         1666
2    60603          10.0         1630
3    60604          22.0         1835
4    60605          20.0         1865

In [9]:
airbnb_rent_df.to_csv("AirBnB_Median_Rent_Data.csv", encoding="utf-8", index=False)