In [1]:
import requests
import json
from config import y_api_key as api_key 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

In [33]:
#found in https://python.gotrained.com/yelp-fusion-api-tutorial/
headers = {'Authorization': 'Bearer %s' % api_key}


#pull in zipcode list
zipcode_df=pd.read_csv("zipcode.csv")
#turn zipcode into a list
zipcodes=zipcode_df['Zip Code'].tolist()


#category of business you want to pull 1. nightlife
categories = 'nightlife' 
#base url
url='https://api.yelp.com/v3/businesses/search'
#create a list for the number of returned categories in zipcode
category_l = []
#for every zipcode in the list return all businesses for the category searched and get rid of entries not within the zip and add to a total list
for zipcode in zipcodes:
    print(f'starting datapull for {zipcode}')
    #create a list for all the pages returned
    yelp_data = []
    #the max returned businesses is 1000 and you can have 50 on a page so create a for loop to iterate through until get 400 code
    #https://stackoverflow.com/questions/35525994/how-to-request-more-than-20-results-from-yelp-api
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': zipcode,
            'categories': categories,
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            #combine page with previous pages
            yelp_data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break
    print(f'finished datapull for {zipcode}')
    #create a blank zipcode list in preparation of pulling in zipcodes for each entry collected in the above yelp_data
    zipcode_b =[]
    #for each business in the yelp_data json, find the zip code and then append it to the zipcode_b list
    for business in range(0,len(yelp_data)):
        currentzip =str(yelp_data[business]["location"]["zip_code"])
        if currentzip == str(zipcode):
            zipcode_b.append(currentzip)
            #print(currentzip)
       # else:
        #    print(f'Not correct zip :{currentzip} != {zipcode}')
    #add to the category list with total number of categories from current zipcode you are looking at
    numberinzip=len(zipcode_b)
    category_l.append(numberinzip)
    print(f'new appended category total: {numberinzip}  for {zipcode}')

starting datapull for 60601
finished datapull for 60601
new appended category total: 47  for 60601
starting datapull for 60602
finished datapull for 60602
new appended category total: 11  for 60602
starting datapull for 60603
finished datapull for 60603
new appended category total: 22  for 60603
starting datapull for 60604
finished datapull for 60604
new appended category total: 5  for 60604
starting datapull for 60605
finished datapull for 60605
new appended category total: 34  for 60605
starting datapull for 60606
finished datapull for 60606
new appended category total: 22  for 60606
starting datapull for 60607
finished datapull for 60607
new appended category total: 81  for 60607
starting datapull for 60608
finished datapull for 60608
new appended category total: 34  for 60608
starting datapull for 60609
finished datapull for 60609
new appended category total: 9  for 60609
starting datapull for 60610
finished datapull for 60610
new appended category total: 70  for 60610
starting datapull for 60611
finished datapull for 60611
new appended category total: 96  for 60611
starting datapull for 60612
finished datapull for 60612
new appended category total: 12  for 60612
starting datapull for 60613
finished datapull for 60613
new appended category total: 76  for 60613
starting datapull for 60614
finished datapull for 60614
new appended category total: 113  for 60614
starting datapull for 60615
finished datapull for 60615
new appended category total: 12  for 60615
starting datapull for 60616
finished datapull for 60616
new appended category total: 40  for 60616
starting datapull for 60617
finished datapull for 60617
new appended category total: 10  for 60617
starting datapull for 60618
finished datapull for 60618
new appended category total: 87  for 60618
starting datapull for 60619
finished datapull for 60619
new appended category total: 12  for 60619
starting datapull for 60620
finished datapull for 60620
new appended category total: 8  for 60620
starting datapull for 60621
finished datapull for 60621
new appended category total: 2  for 60621
starting datapull for 60622
finished datapull for 60622
new appended category total: 108  for 60622
starting datapull for 60623
finished datapull for 60623
new appended category total: 6  for 60623
starting datapull for 60624
finished datapull for 60624
new appended category total: 1  for 60624
starting datapull for 60625
finished datapull for 60625
new appended category total: 46  for 60625
starting datapull for 60626
finished datapull for 60626
new appended category total: 22  for 60626
starting datapull for 60628
finished datapull for 60628
new appended category total: 4  for 60628
starting datapull for 60629
finished datapull for 60629
new appended category total: 9  for 60629
starting datapull for 60630
finished datapull for 60630
new appended category total: 32  for 60630
starting datapull for 60631
finished datapull for 60631
new appended category total: 15  for 60631
starting datapull for 60632
finished datapull for 60632
new appended category total: 16  for 60632
starting datapull for 60633
finished datapull for 60633
new appended category total: 8  for 60633
starting datapull for 60634
finished datapull for 60634
new appended category total: 32  for 60634
starting datapull for 60636
finished datapull for 60636
new appended category total: 1  for 60636
starting datapull for 60637
finished datapull for 60637
new appended category total: 6  for 60637
starting datapull for 60638
finished datapull for 60638
new appended category total: 31  for 60638
starting datapull for 60639
finished datapull for 60639
new appended category total: 15  for 60639
starting datapull for 60640
finished datapull for 60640
new appended category total: 51  for 60640
starting datapull for 60641
finished datapull for 60641
new appended category total: 33  for 60641
starting datapull for 60642
finished datapull for 60642
new appended category total: 31  for 60642
starting datapull for 60643
finished datapull for 60643
new appended category total: 14  for 60643
starting datapull for 60644
finished datapull for 60644
new appended category total: 3  for 60644
starting datapull for 60645
finished datapull for 60645
new appended category total: 7  for 60645
starting datapull for 60646
finished datapull for 60646
new appended category total: 11  for 60646
starting datapull for 60647
finished datapull for 60647
new appended category total: 116  for 60647
starting datapull for 60649
finished datapull for 60649
new appended category total: 2  for 60649
starting datapull for 60651
finished datapull for 60651
new appended category total: 3  for 60651
starting datapull for 60652
finished datapull for 60652
new appended category total: 3  for 60652
starting datapull for 60653
finished datapull for 60653
new appended category total: 4  for 60653
starting datapull for 60654
finished datapull for 60654
new appended category total: 127  for 60654
starting datapull for 60655
finished datapull for 60655
new appended category total: 10  for 60655
starting datapull for 60656
finished datapull for 60656
new appended category total: 6  for 60656
starting datapull for 60657
finished datapull for 60657
new appended category total: 137  for 60657
starting datapull for 60659
finished datapull for 60659
new appended category total: 15  for 60659
starting datapull for 60660
finished datapull for 60660
new appended category total: 21  for 60660
starting datapull for 60661
finished datapull for 60661
new appended category total: 24  for 60661
starting datapull for 60706
finished datapull for 60706
new appended category total: 14  for 60706
starting datapull for 60707
finished datapull for 60707
new appended category total: 22  for 60707
starting datapull for 60803
finished datapull for 60803
new appended category total: 6  for 60803
starting datapull for 60804
finished datapull for 60804
new appended category total: 11  for 60804
starting datapull for 60805
finished datapull for 60805
new appended category total: 6  for 60805

In [38]:
#category of business you want to pull 2. restaurants
categories = 'restaurants' 
#base url
url='https://api.yelp.com/v3/businesses/search'
#create a list for the number of returned categories in zipcode
category_r = []
#for every zipcode in the list return all businesses for the category searched and get rid of entries not within the zip and add to a total list
for zipcode in zipcodes:
    print(f'starting datapull for {zipcode}')
    #create a list for all the pages returned
    yelp_data = []
    #the max returned businesses is 1000 and you can have 50 on a page so create a for loop to iterate through until get 400 code
    #https://stackoverflow.com/questions/35525994/how-to-request-more-than-20-results-from-yelp-api
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': zipcode,
            'categories': categories,
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            #combine page with previous pages
            yelp_data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break
    print(f'finished datapull for {zipcode}')
    #create a blank zipcode list in preparation of pulling in zipcodes for each entry collected in the above yelp_data
    zipcode_b =[]
    #for each business in the yelp_data json, find the zip code and then append it to the zipcode_b list
    for business in range(0,len(yelp_data)):
        currentzip =str(yelp_data[business]["location"]["zip_code"])
        if currentzip == str(zipcode):
            zipcode_b.append(currentzip)
            #print(currentzip)
       # else:
        #    print(f'Not correct zip :{currentzip} != {zipcode}')
    #add to the category list with total number of categories from current zipcode you are looking at
    numberinzip=len(zipcode_b)
    category_r.append(numberinzip)
    print(f'new appended category total: {numberinzip}  for {zipcode}')

starting datapull for 60601
finished datapull for 60601
new appended category total: 149  for 60601
starting datapull for 60602
finished datapull for 60602
new appended category total: 78  for 60602
starting datapull for 60603
finished datapull for 60603
new appended category total: 97  for 60603
starting datapull for 60604
finished datapull for 60604
new appended category total: 41  for 60604
starting datapull for 60605
finished datapull for 60605
new appended category total: 113  for 60605
starting datapull for 60606
finished datapull for 60606
new appended category total: 163  for 60606
starting datapull for 60607
finished datapull for 60607
new appended category total: 220  for 60607
starting datapull for 60608
finished datapull for 60608
new appended category total: 151  for 60608
starting datapull for 60609
finished datapull for 60609
new appended category total: 90  for 60609
starting datapull for 60610
finished datapull for 60610
new appended category total: 129  for 60610
starting datapull for 60611
finished datapull for 60611
new appended category total: 307  for 60611
starting datapull for 60612
finished datapull for 60612
new appended category total: 77  for 60612
starting datapull for 60613
finished datapull for 60613
new appended category total: 148  for 60613
starting datapull for 60614
finished datapull for 60614
new appended category total: 192  for 60614
starting datapull for 60615
finished datapull for 60615
new appended category total: 75  for 60615
starting datapull for 60616
finished datapull for 60616
new appended category total: 159  for 60616
starting datapull for 60617
finished datapull for 60617
new appended category total: 104  for 60617
starting datapull for 60618
finished datapull for 60618
new appended category total: 232  for 60618
starting datapull for 60619
finished datapull for 60619
new appended category total: 91  for 60619
starting datapull for 60620
finished datapull for 60620
new appended category total: 79  for 60620
starting datapull for 60621
finished datapull for 60621
new appended category total: 25  for 60621
starting datapull for 60622
finished datapull for 60622
new appended category total: 231  for 60622
starting datapull for 60623
finished datapull for 60623
new appended category total: 93  for 60623
starting datapull for 60624
finished datapull for 60624
new appended category total: 24  for 60624
starting datapull for 60625
finished datapull for 60625
new appended category total: 159  for 60625
starting datapull for 60626
finished datapull for 60626
new appended category total: 90  for 60626
starting datapull for 60628
finished datapull for 60628
new appended category total: 62  for 60628
starting datapull for 60629
finished datapull for 60629
new appended category total: 115  for 60629
starting datapull for 60630
finished datapull for 60630
new appended category total: 87  for 60630
starting datapull for 60631
finished datapull for 60631
new appended category total: 47  for 60631
starting datapull for 60632
finished datapull for 60632
new appended category total: 156  for 60632
starting datapull for 60633
finished datapull for 60633
new appended category total: 13  for 60633
starting datapull for 60634
finished datapull for 60634
new appended category total: 131  for 60634
starting datapull for 60636
finished datapull for 60636
new appended category total: 36  for 60636
starting datapull for 60637
finished datapull for 60637
new appended category total: 52  for 60637
starting datapull for 60638
finished datapull for 60638
new appended category total: 103  for 60638
starting datapull for 60639
finished datapull for 60639
new appended category total: 162  for 60639
starting datapull for 60640
finished datapull for 60640
new appended category total: 189  for 60640
starting datapull for 60641
finished datapull for 60641
new appended category total: 111  for 60641
starting datapull for 60642
finished datapull for 60642
new appended category total: 85  for 60642
starting datapull for 60643
finished datapull for 60643
new appended category total: 65  for 60643
starting datapull for 60644
finished datapull for 60644
new appended category total: 38  for 60644
starting datapull for 60645
finished datapull for 60645
new appended category total: 48  for 60645
starting datapull for 60646
finished datapull for 60646
new appended category total: 43  for 60646
starting datapull for 60647
finished datapull for 60647
new appended category total: 216  for 60647
starting datapull for 60649
finished datapull for 60649
new appended category total: 52  for 60649
starting datapull for 60651
finished datapull for 60651
new appended category total: 50  for 60651
starting datapull for 60652
finished datapull for 60652
new appended category total: 53  for 60652
starting datapull for 60653
finished datapull for 60653
new appended category total: 41  for 60653
starting datapull for 60654
finished datapull for 60654
new appended category total: 228  for 60654
starting datapull for 60655
finished datapull for 60655
new appended category total: 27  for 60655
starting datapull for 60656
finished datapull for 60656
new appended category total: 29  for 60656
starting datapull for 60657
finished datapull for 60657
new appended category total: 280  for 60657
starting datapull for 60659
finished datapull for 60659
new appended category total: 131  for 60659
starting datapull for 60660
finished datapull for 60660
new appended category total: 91  for 60660
starting datapull for 60661
finished datapull for 60661
new appended category total: 124  for 60661
starting datapull for 60706
finished datapull for 60706
new appended category total: 65  for 60706
starting datapull for 60707
finished datapull for 60707
new appended category total: 67  for 60707
starting datapull for 60803
finished datapull for 60803
new appended category total: 44  for 60803
starting datapull for 60804
finished datapull for 60804
new appended category total: 53  for 60804
starting datapull for 60805
finished datapull for 60805
new appended category total: 38  for 60805

In [42]:
#category of business you want to pull 3. grocery
categories = 'grocery' 
#base url
url='https://api.yelp.com/v3/businesses/search'
#create a list for the number of returned categories in zipcode
category_g = []
#for every zipcode in the list return all businesses for the category searched and get rid of entries not within the zip and add to a total list
for zipcode in zipcodes:
    print(f'starting datapull for {zipcode}')
    #create a list for all the pages returned
    yelp_data = []
    #the max returned businesses is 1000 and you can have 50 on a page so create a for loop to iterate through until get 400 code
    #https://stackoverflow.com/questions/35525994/how-to-request-more-than-20-results-from-yelp-api
    for offset in range(0, 1000, 50):
        params = {
            'limit': 50, 
            'location': zipcode,
            'categories': categories,
            'offset': offset
        }

        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            #combine page with previous pages
            yelp_data += response.json()['businesses']
        elif response.status_code == 400:
            print('400 Bad Request')
            break
    print(f'finished datapull for {zipcode}')
    #create a blank zipcode list in preparation of pulling in zipcodes for each entry collected in the above yelp_data
    zipcode_b =[]
    #for each business in the yelp_data json, find the zip code and then append it to the zipcode_b list
    for business in range(0,len(yelp_data)):
        currentzip =str(yelp_data[business]["location"]["zip_code"])
        if currentzip == str(zipcode):
            zipcode_b.append(currentzip)
            #print(currentzip)
       # else:
        #    print(f'Not correct zip :{currentzip} != {zipcode}')
    #add to the category list with total number of categories from current zipcode you are looking at
    numberinzip=len(zipcode_b)
    category_g.append(numberinzip)
    print(f'new appended category total: {numberinzip}  for {zipcode}')

starting datapull for 60601
finished datapull for 60601
new appended category total: 7  for 60601
starting datapull for 60602
finished datapull for 60602
new appended category total: 0  for 60602
starting datapull for 60603
finished datapull for 60603
new appended category total: 1  for 60603
starting datapull for 60604
finished datapull for 60604
new appended category total: 0  for 60604
starting datapull for 60605
finished datapull for 60605
new appended category total: 7  for 60605
starting datapull for 60606
finished datapull for 60606
new appended category total: 3  for 60606
starting datapull for 60607
finished datapull for 60607
new appended category total: 6  for 60607
starting datapull for 60608
finished datapull for 60608
new appended category total: 22  for 60608
starting datapull for 60609
finished datapull for 60609
new appended category total: 0  for 60609
starting datapull for 60610
finished datapull for 60610
new appended category total: 0  for 60610
starting datapull for 60611
finished datapull for 60611
new appended category total: 0  for 60611
starting datapull for 60612
finished datapull for 60612
new appended category total: 0  for 60612
starting datapull for 60613
finished datapull for 60613
new appended category total: 0  for 60613
starting datapull for 60614
finished datapull for 60614
new appended category total: 0  for 60614
starting datapull for 60615
finished datapull for 60615
new appended category total: 0  for 60615
starting datapull for 60616
finished datapull for 60616
new appended category total: 0  for 60616
starting datapull for 60617
finished datapull for 60617
new appended category total: 0  for 60617
starting datapull for 60618
finished datapull for 60618
new appended category total: 0  for 60618
starting datapull for 60619
finished datapull for 60619
new appended category total: 0  for 60619
starting datapull for 60620
finished datapull for 60620
new appended category total: 0  for 60620
starting datapull for 60621
finished datapull for 60621
new appended category total: 0  for 60621
starting datapull for 60622
finished datapull for 60622
new appended category total: 0  for 60622
starting datapull for 60623
finished datapull for 60623
new appended category total: 0  for 60623
starting datapull for 60624
finished datapull for 60624
new appended category total: 0  for 60624
starting datapull for 60625
finished datapull for 60625
new appended category total: 0  for 60625
starting datapull for 60626
finished datapull for 60626
new appended category total: 0  for 60626
starting datapull for 60628
finished datapull for 60628
new appended category total: 0  for 60628
starting datapull for 60629
finished datapull for 60629
new appended category total: 0  for 60629
starting datapull for 60630
finished datapull for 60630
new appended category total: 0  for 60630
starting datapull for 60631
finished datapull for 60631
new appended category total: 0  for 60631
starting datapull for 60632
finished datapull for 60632
new appended category total: 0  for 60632
starting datapull for 60633
finished datapull for 60633
new appended category total: 0  for 60633
starting datapull for 60634
finished datapull for 60634
new appended category total: 0  for 60634
starting datapull for 60636
finished datapull for 60636
new appended category total: 0  for 60636
starting datapull for 60637
finished datapull for 60637
new appended category total: 0  for 60637
starting datapull for 60638
finished datapull for 60638
new appended category total: 0  for 60638
starting datapull for 60639
finished datapull for 60639
new appended category total: 0  for 60639
starting datapull for 60640
finished datapull for 60640
new appended category total: 0  for 60640
starting datapull for 60641
finished datapull for 60641
new appended category total: 0  for 60641
starting datapull for 60642
finished datapull for 60642
new appended category total: 0  for 60642
starting datapull for 60643
finished datapull for 60643
new appended category total: 0  for 60643
starting datapull for 60644
finished datapull for 60644
new appended category total: 0  for 60644
starting datapull for 60645
finished datapull for 60645
new appended category total: 0  for 60645
starting datapull for 60646
finished datapull for 60646
new appended category total: 0  for 60646
starting datapull for 60647
finished datapull for 60647
new appended category total: 0  for 60647
starting datapull for 60649
finished datapull for 60649
new appended category total: 0  for 60649
starting datapull for 60651
finished datapull for 60651
new appended category total: 0  for 60651
starting datapull for 60652
finished datapull for 60652
new appended category total: 0  for 60652
starting datapull for 60653
finished datapull for 60653
new appended category total: 0  for 60653
starting datapull for 60654
finished datapull for 60654
new appended category total: 0  for 60654
starting datapull for 60655
finished datapull for 60655
new appended category total: 0  for 60655
starting datapull for 60656
finished datapull for 60656
new appended category total: 0  for 60656
starting datapull for 60657
finished datapull for 60657
new appended category total: 0  for 60657
starting datapull for 60659
finished datapull for 60659
new appended category total: 0  for 60659
starting datapull for 60660
finished datapull for 60660
new appended category total: 0  for 60660
starting datapull for 60661
finished datapull for 60661
new appended category total: 0  for 60661
starting datapull for 60706
finished datapull for 60706
new appended category total: 0  for 60706
starting datapull for 60707
finished datapull for 60707
new appended category total: 0  for 60707
starting datapull for 60803
finished datapull for 60803
new appended category total: 0  for 60803
starting datapull for 60804
finished datapull for 60804
new appended category total: 0  for 60804
starting datapull for 60805
finished datapull for 60805
new appended category total: 0  for 60805

In [44]:
yelp_df=pd.DataFrame({"ZipCode":zipcodes, "Total Nightlife": category_l, "Total Restaurant": category_r})
yelp_df

    ZipCode  Total Nightlife  Total Restaurant
0     60601               47               149
1     60602               11                78
2     60603               22                97
3     60604                5                41
4     60605               34               113
5     60606               22               163
6     60607               81               220
7     60608               34               151
8     60609                9                90
9     60610               70               129
10    60611               96               307
11    60612               12                77
12    60613               76               148
13    60614              113               192
14    60615               12                75
15    60616               40               159
16    60617               10               104
17    60618               87               232
18    60619               12                91
19    60620                8                79
20    60621                2                25
21    60622              108               231
22    60623                6                93
23    60624                1                24
24    60625               46               159
25    60626               22                90
26    60628                4                62
27    60629                9               115
28    60630               32                87
29    60631               15                47
..      ...              ...               ...
31    60633                8                13
32    60634               32               131
33    60636                1                36
34    60637                6                52
35    60638               31               103
36    60639               15               162
37    60640               51               189
38    60641               33               111
39    60642               31                85
40    60643               14                65
41    60644                3                38
42    60645                7                48
43    60646               11                43
44    60647              116               216
45    60649                2                52
46    60651                3                50
47    60652                3                53
48    60653                4                41
49    60654              127               228
50    60655               10                27
51    60656                6                29
52    60657              137               280
53    60659               15               131
54    60660               21                91
55    60661               24               124
56    60706               14                65
57    60707               22                67
58    60803                6                44
59    60804               11                53
60    60805                6                38

[61 rows x 3 columns]